
.rounded-pill2 {
    border-radius: 30px;
    width: 200px;
  }
  
  .login-header {
    /* Login as Recruiter */
    // position: absolute;
    // width: 432px;
    // height: 58px;
    // left: 141px;
    // top: 204px;
  
    font-family: 'Faktum Test';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    // letter-spacing: 0.01em;
  
    color: #252525;
  }    
  
  .login-header2 {
    /* Let the machine improve your resume. */
  
  // position: absolute;
  // width: 342px;
  // height: 27px;
  // left: 141px;
  // top: 268px;
  
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    // letter-spacing: 0.035em;
  
    color: #252525;
  
  }
  
  .login-labels {
  
  /* User Name */
  
    // position: absolute;
    // width: 86px;
    // height: 26px;
    // left: 141px;
    // top: 341px;
  
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 165%;
    /* or 26px */
    // letter-spacing: 0.005em;
  
    /* Gray/900 */
    color: #111729;
  }
  
  .rounded {
    border-radius: 30px !important;
  }
  
  .forgot-password {
    /* Forgot Password */
  
    // position: absolute;
    // width: 115px;
    // height: 23px;
    // left: 472px;
    // top: 533px;
  
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 165%;
    /* identical to box height, or 23px */
    text-align: right;
    // letter-spacing: 0.005em;
  
    /* Gray/500 */
    color: #677489;
  
  
  }
  
  .remember-me {
    /* Remember me */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 165%;
    /* or 26px */
    letter-spacing: 0.005em;
  
    /* Gray/500 */
    color: #677489;
  }
  
  .mt-sign-in {
    margin-top: 5rem !important;
  }
  
  .mt-username {
    margin-top: 3rem !important;
  }
  
  
  
  // start footer
  .xcv-nav
  {
    height: 85px;
    border-bottom: gainsboro 1px solid;
  
    .nav-item
    {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  footer {
    color: #777;
    height: 45px;
    padding: 10px 0 0;
    border-top: 1px solid gainsboro;
  }
  
  .social-icons
  {
    text-align:left
  }
  
  .social-icons a
  {
    width:44px;
    height:44px;
    line-height:44px;
      margin: 0 auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    background-color:#33353d;
  }
  
  @media (max-width:991px)
  {
    .footer5 [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .footer5
    {
      padding-bottom:0
    }
    .footer5 #footerRights,
    .footer5 .social-icons
    {
      text-align:center
    }
  }
  
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:12px
  }
  
  .social-icons a {
    width: 44px;
    height: 44px;
    background-color:#eceeef;
    color:#818a91;
    text-align: center;
    line-height: 44px;
    font-size: 24px;
    display: inline-block;
    border-radius: 50%;
      -webkit-transition:all .2s linear;
      -o-transition:all .2s linear;
      transition:all .2s linear
  }
  
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  
  .social-icons a.facebook:hover
  {background-color:#3b5998}
  .social-icons a.twitter:hover
  {background-color:#00aced}
  .social-icons a.instagram:hover
  {background-color:#f00077}
  
  .header-border {
    // border-style: solid;  
  }
  
  .rights-reserved {
    /* All rights reserved */
    // position: absolute;
    // left: 82.3%;
    // right: 7.06%;
    // top: 29.82%;
    // bottom: 31.58%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    // line-height: 22px;
    /* identical to box height, or 157% */
    text-align: right;
    color: #333333;
  }
  
  .footer {
    border-top: 2px solid #ECECEC;
  }
  
  .subs_status {
    font-size: 12px;
  }
  
  .active_color {
    color: green;
  }
  // end footer
  .social-links{
    color: black !important;
  }  
  .twit-img
  {
  width: auto;
  height: 16px;
  }
// for the password input
::ng-deep .p-inputtext {
    width: 100%;
    border-radius: 25px;
    height: 40px;
  }